.button 
    {display: inline-block;
    background-color: #222035;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: transform 100ms cubi-bezier(.45, .97, .68,2.28);
    font-size: 20px;
    color: #FFF;
    text-decoration: None;}

.button:hover 
    {transform: scale(1.08);}
