h1
    {font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #222035;
    text-shadow: 2px 2px 0px black}

h2 {font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #222035;
    text-shadow: 1px 1px 0px black}

